###### 1. O arquivo houses-to-rent.csv consiste em um dataset que contém informações sobre 10962 casas para alugar com 13 classes diferentes. Esse arquivo foi obtido no Kaggle (citado durante a aula), portanto, você pode acessá-lo, inclusive, nesse link.

###### Diante disso, utilizando a função read_csv, carregue esse dataset em uma variável do tipo DataFrame e visualize os seus atributos utilizando as funções info, head e tail. Quais são as informações disponíveis sobre essas casas?

In [1]:
import pandas as pd

In [2]:
house = pd.read_csv('houses_to_rent.csv')

In [4]:
df = pd.DataFrame(house)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6080 entries, 0 to 6079
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      6080 non-null   int64
 1   city            6080 non-null   int64
 2   area            6080 non-null   int64
 3   rooms           6080 non-null   int64
 4   bathroom        6080 non-null   int64
 5   parking spaces  6080 non-null   int64
 6   floor           6080 non-null   object
 7   animal          6080 non-null   object
 8   furniture       6080 non-null   object
 9   hoa             6080 non-null   object
 10  rent amount     6080 non-null   object
 11  property tax    6080 non-null   object
 12  fire insurance  6080 non-null   object
 13  total           6080 non-null   object
dtypes: int64(6), object(8)
memory usage: 665.1+ KB

In [6]:
df.head()

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [7]:
df.tail()

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
6075,6075,1,50,2,1,1,2,acept,not furnished,R$420,"R$1,150",R$0,R$15,"R$1,585"
6076,6076,1,84,2,2,1,16,not acept,furnished,R$768,"R$2,900",R$63,R$37,"R$3,768"
6077,6077,0,48,1,1,0,13,acept,not furnished,R$250,R$950,R$42,R$13,"R$1,255"
6078,6078,1,160,3,2,2,-,not acept,not furnished,R$0,"R$3,500",R$250,R$53,"R$3,803"
6079,6079,1,60,2,1,1,4,acept,furnished,R$489,"R$1,900",R$0,R$25,"R$2,414"

# Feedback - 1
import pandas as pd

df = pd.read_csv('datasets/houses_to_rent.csv')

df.info()
df.tail()
df.head()

##### 2. O arquivo HIST_PAINEL_COVIDBR_23mai2020.xlsx consiste em um dataset que contém informações sobre os casos de coronavírus no Brasil, desde o dia 26/02 até o dia 23/05, considerando todos os estados. Esse arquivo foi obtido nesse link. Diante disso, utilizando a função read_excel, carregue esse dataset em uma variável do tipo DataFrame e visualize os seus atributos utilizando as funções info, head e tail. Quais são as informações disponíveis nas colunas desse dataset?

In [34]:
covid  = pd.read_excel("HIST_PAINEL_COVIDBR_23mai2020.xlsx")
covid.head()

df = pd.DataFrame(covid)
df.info()
df.head()
df.tail()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   regiao  0 non-null      object
dtypes: object(1)
memory usage: 0.0+ bytes

Empty DataFrame
Columns: [regiao]
Index: []

# Feedback - 2
df_covid = pd.read_excel('datasets/HIST_PAINEL_COVIDBR_23mai2020.xlsx')

df_covid.info()

df_covid.head()

df_covid.tail()

##### 3. O arquivo hotel_bookings.csv consiste em um dataset que contém informações de reserva de um hotel urbano e de um resort e inclui informações como quando a reserva foi feita, duração da estadia, número de adultos, crianças e/ou bebês e número de vagas disponíveis, entre outras coisas. Esse arquivo foi obtido no Kaggle (citado durante a aula), portanto, você pode acessá-lo, inclusive, nesse link.

##### Diante disso, utilizando a função read_csv, carregue esse dataset em uma variável do tipo DataFrame e visualize os seus atributos utilizando as funções info, head e tail. Quais são as informações disponíveis nas colunas desse dataset?

In [41]:
hotel = pd.read_csv('hotel_bookings.csv')
df = pd.DataFrame(hotel)
df.info()
#df.head()
#df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

# Feedback - 3
df_hotel = pd.read_csv('datasets/hotel_bookings.csv', sep=',')

df_hotel.info()

df_hotel.head()

df_hotel.tail()